
body{
  margin: 0;
    background: white;
    font-family: 'Poppins', sans-serif;
}
/* header ar kag */
.head{
    display: flex;
    
}
.header-title{
    font-size: 24px;
    padding: 45px 120px;
    line-height: 36px; 
}
.menu {
    display: flex;
    padding-left: 850px;
    list-style: none;
    gap: 40px;
    font-size: 20px;
    margin-top: 60px;
  }

  /* body ar kag stary */
.ext-body{
    display: flex;
}
.body-top{
    margin: 285px 120px;
    
  }
.start-taitel{
    font-weight: 700;
    font-size: 52px;
    margin-top: -80px;
    
  }
.primary{
    font-size: 16px;
    margin-right: 519px;
    margin-top: -25px; 
  }
  .now{
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    margin-right: 740px;
    font-size: 20px;
  }
  .images{
   margin-top: 114px;
   margin-right: 600px;
   background-image: url(../images/Circle\ design.svg);
   background-repeat: no-repeat;

  }

  /* blog ariticle tag ar kag */
  .top-blog{
    align-items: center;
    
  }
.blog{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 26px;
  grid-column-gap: -10%;
  width: 1047px;
}
.blog-taitle{
    width: 262px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 8px;
    margin-left: 730px;
    text-align: center;
    background-color: #75cdea;
    align-items: center;
  }
.thumbailes{
    width: 300px;
    height: 386px;
    margin-left: 196px;
    line-height: 33%;
    padding: 8px;
    background-color: #f8e5ec;
  }
  .thumbailes img{
    width: 300px;
    height: 256px;
    line-height: 5%;
  }
.thumbailes h3 h4{
  font-weight: 500;
font-size: 30px;
}
.thumbailes p{
font-size: 12px;
line-height: 53%;
}
.see-title{
  text-align: right;
  margin-right:150px;
  padding: 40px;
}
.see{
  font-weight: 700;
font-size: 16px;
color: rgba(224, 44, 109, 0.87);
}

/* div bottom ar kag */
.flecer-monitor{
  display: flex;
}
.flecer{
  margin-left: 165px;
  padding: 50px;
}
.flecers{
  width: 610px;
height: 60px;
margin-left: 85px;
}
.flecers-title{
  font-weight: 700;
  font-size: 38px;
}
.flecers-p{
  font-weight: 700;
  font-size: 16px;
}
.btn{
  padding: 10px;
  background-color: #E02C6D;
  font-weight: 700;
  font-size: 16px;
}
.futter{
  background-color: rgb(45, 30, 108);
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}
.footer-taitle{
  font-weight: 900;
font-size: 28px;
color: #FFFFFF;
}
.footer-p{
  font-weight: 700;
font-size: 14px;
color: #D9DBE1;
line-height: 10px;
}

